<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>
            Symfony CRUD
            {% block title %}{% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ include('elements/header.html.twig') }}
        {% endif %}
        <main>
            <div class="container">
                {% if app.session.flashbag.peekAll() is not empty %}
                    <section class="section pb-0">
                        {% for label, messages in app.flashes(['warning', 'success', 'danger']) %}
                            {% for message in messages %}
                                <div class="notification is-{{ label }}">
                                    <button class="delete"></button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </section>
                {% endif %}
                {% block body %}{% endblock %}
            </div>
        </main>
    </body>
</html>
